<h1><%= title %></h1>
<% errors.forEach(function(error) { %>
<div class="alert alert-danger" role="alert"><%= error %></div>
<% }) %> <% infos.forEach(function(info) { %>
<div class="alert alert-info" role="alert"><%= info %></div>
<% }) %>
