@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
    font-family: "Roboto Mono", monospace;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
}

.header {
    text-align: center;
}

form {
    grid-column: span 12;
}
